[submodule "3rdparty/ratas"]
	path = 3rdparty/ratas
	url = https://github.com/jsnell/ratas.git
[submodule "3rdparty/funchook"]
	path = 3rdparty/funchook
	url = https://github.com/kubo/funchook.git
[submodule "3rdparty/capstone"]
	path = 3rdparty/capstone
	url = https://github.com/capstone-engine/capstone.git
