include COPYING README.rst CHANGELOG.rst tox.ini pyproject.toml trun
include golang/libgolang.h
include golang/runtime/libgolang.cpp
recursive-include golang    *.py *.pxd *.pyx *.toml
recursive-include gpython   *.py
recursive-include 3rdparty  *.h
