include COPYING README.rst CHANGELOG.rst tox.ini pyproject.toml trun
include golang/libgolang.h
include golang/runtime/libgolang.cpp
include golang/sync.h
include golang/sync.cpp
include golang/time.h
include golang/time.cpp
recursive-include golang    *.py *.pxd *.pyx *.toml *.txt
recursive-include gpython   *.py
recursive-include 3rdparty  *.h
